@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Courier New, Courier, monospace";
  font-size: 18px;
  background-color: rgba(219, 219, 219, 0.541)
}

.btext {
  color: white;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 150px;
  font-family: "Playfair Display", "Courier New, Courier, monospace";
}

.btn-light {
  color: #fff;
  text-decoration: none;
  border: #ccc 2px solid;
  padding: 8px 20px;
  border-radius:20px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.692);
}

#particles-js {
  background-image: url("/assets/images/stars.jpg");
  height: 100vh;
  margin: 0;
  padding: 0;
}

#my-carousel {
  margin-bottom: 30px;
}

.card {
  padding: 2px;
  margin-top: 15px;
  margin-left: 15px;
}

.about-me-h1 {
  margin: 50px;
  text-align: center;
}

.about-me-image {
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-radius: 15px;
}

.about-me-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}